In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

df = pd.read_csv("../data/survey lung cancer.csv", index_col=False)

In [28]:
# df['LUNG_CANCER'] = df['LUNG_CANCER'].replace('YES', 2) 
# df['LUNG_CANCER'] = df['LUNG_CANCER'].replace('NO', 1) 
# df['GENDER'] = df['GENDER'].replace('M',2)  # male was changed to 2
# df['GENDER'] = df['GENDER'].replace('F',1)
# # print(df['LUNG_CANCER'])
# df.to_csv('../data/survey lung cancer.csv', index = False)

In [10]:
X = df.drop('LUNG_CANCER', axis = 1)
y = df['LUNG_CANCER']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

/Users/tylerpham/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN
0,2,69,1,2,2,1,1,2,1,2,2,2,2,2,2
1,2,74,2,1,1,1,2,2,2,1,1,1,2,2,2
2,1,59,1,1,1,2,1,2,1,2,1,2,2,1,2
3,2,63,2,2,2,1,1,1,1,1,2,1,1,2,2
4,1,63,1,2,1,1,1,1,1,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,1,56,1,1,1,2,2,2,1,1,2,2,2,2,1
305,2,70,2,1,1,1,1,2,2,2,2,2,2,1,2
306,2,58,2,1,1,1,1,1,2,2,2,2,1,1,2
307,2,67,2,1,2,1,1,2,2,1,2,2,2,1,2
308,2,62,1,1,1,2,1,2,2,2,2,1,1,2,1